@media only screen and (min-width: 575px) {
  body {
    margin: 0px;
    background-image: url(/images/bg-intro-desktop.png);
    background-size: cover;
    background-repeat: repeat;
    background-position: center ;
    background-color: $red;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main{
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
  }
  .left-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    .title{
      font-size: 48px;
      margin-bottom: 0px;
    }
  }
  .right-container{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media only screen and (max-width: 574px){
  body  {
    background-image: url(/images/bg-intro-mobile.png);
    background-position: top;
  }
  .left-container{
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    .title{
      font-size: 30px;
    }
  }
  .right-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}